// * {
//   font-family: "Mulish";
// }

body {
  margin: 0px;
}

.start_building_btn {
  width: 200px;
  background-color: white;
  color: blueviolet;
  padding: 10px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
}
