.typing {
  color: red;
  white-space: nowrap;
  overflow: hidden;
  width: 20em;
  border-right: 0.15em solid #000;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
